*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	position: relative;
	width: 100%;
	height: 100%;
	background: #f5f5f5;
	font-family: Muli, sans-serif;
	font-size: 16px;
	color: #333;
}

h1 {
	overflow: hidden;
}

h1 img {
	width: 42px;
	height: auto;
	padding-right: 8px;
}

h1 small {
	padding-left: 50px;
}

button,
a,
#badgeTimeline p {
	-webkit-transition: all 0.15s linear;
	-moz-transition: all 0.15s linear;
	-o-transition: all 0.15s linear;
	transition: all 0.15s linear;
}

.well {
	border: 2px solid #ccc;
	background: #fbfbfb;
}

#colorLine {
	width: 100%;
	height: 20px;
	text-align: center;
}

@media (min-width: 768px) {
	#colorLine {
		width: 50%;
		text-align: left;
	}
}

.colorPiece {
	display: inline-block;
	height: 100%;
}

@media (min-width: 768px) {
	colorPiece {
		display: block;
		float: left;
	}
}

.points {
	font-weight: 700;
	color: #006c21;
}

#status {
	font-size: 0.8em;
	color: #ccc;
}

#gravatar {
	text-align: center;
}

#gravatar img {
	padding: 2px;
	width: 140px;
	max-width: 70%;
	height: auto;
	border-radius: 50%;
	border: 2px solid #20a749;
}

#userName {
	font-size: 1.5em;
	overflow: hidden;
}

#aboutUser p {
	text-align: center;
}

@media (min-width: 768px) {
	#aboutUser p {
		text-align: left;
	}
}

#updateMetrics {
	font-size: 0.8em;
	padding: 1px 4px;
	background: none;
	border: 2px solid #ccc;
	outline: none;
	border-radius: 3px;
}

#updateMetrics:hover {
	border-color: #20a749;
}

.pointBox {
	text-align: center;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 10px 20px 20px 20px;
	position: relative;
}

.pointBox .colorBar {
	position: absolute;
	width: 50%;
	max-width: 100px;
	height: 8px;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	content: "";
	border-radius: 3px;
}

#badgeTimeline {
	overflow: auto;
}

#badgeTimeline img {
	display: block;
	width: 50px;
	height: auto;
	float: left;
	margin-right: 8px;
}

#badgeTimeline p {
	position: relative;
	float: left;
	overflow: hidden;
	width: 100%;
	height: 100px;
	padding: 15px 46px 0 0;
	margin: 0;
	text-overflow: ellipsis;
}

#badgeTimeline p:hover {
	background-color: #eee;
}

@media (min-width: 768px) {
	#badgeTimeline p {
		width: 50%;
	}
}
