* {
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
 }

form {
   padding: 10px 15%;
   border-style: double;
   border-color: #1abc9c;
}
.tb
 {
     display: table;
     width: 100%;
     clear: both;
   overflow-x: hidden;
   padding: 10px;
   margin: 0 0 10px 0;

 }

 .td > input
 {
     display: table-cell;
     height: 50px;
     font-size: 35px;
 }


 form > div {
   clear: both;
   overflow: hidden;
   padding: 1px;
   margin: 0 0 10px 0;
 }
 form > div > fieldset > div > div {
   margin: 0 0 5px 0;
 }
 form > div > label,
 legend {
     width: 25%;
   float: left;
   padding-right: 10px;
 }
 form > div > div,
 form > div > fieldset > div {
   width: 75%;
   float: right;
 }
 form > div > fieldset label {
     font-size: 90%;
 }
 fieldset {
     border: 0;
   padding: 0;
 }

 input[type=text],
 input[type=number],
 input[type=url],
 textarea {
     width: 100%;
   border-top: 1px solid #ccc;
   border-left: 1px solid #ccc;
   border-right: 1px solid #eee;
   border-bottom: 1px solid #eee;
 }
 input[type=text],
 input[type=number],
 input[type=date] {
   width: 50%;
 }
 input[type=text]:focus,
 input[type=number]:focus,
 input[type=date]:focus,
 input[type=password]:focus,
 textarea:focus {
   outline: 0;
   border-color: #4697e4;
 }

 @media (max-width: 600px) {
   form > div {
     margin: 0 0 15px 0;
   }
   form > div > label,
   legend {
       width: 100%;
     float: none;
     margin: 0 0 5px 0;
   }
   form > div > div,
   form > div > fieldset > div {
     width: 100%;
     float: none;
   }
   input[type=text],
   input[type=number],
   input[type=date],
   textarea,
   select {
     width: 100%;
   }
 }
 @media (min-width: 1200px) {
   form > div > label,
     legend {
       text-align: right;
   }
 }

 .button-three{
   /*text-align: center;
   cursor: pointer;
   font-size:15px;*/
   background: #1abc9c;
   border-radius: 8px;
   padding: 15px 30px;
   border: none;
   color: #fff;
   font-size: 14px;
   margin: 20px 0 20px 40%;
 }
 .button-three {
   position: relative;
   background-color: #1abc9c;
   border: none;
   padding: 5px;
   width: 100px;
   text-align: center;
   -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   text-decoration: none;
   overflow: hidden;
}

.button-three:hover{
  background:#fff;
  box-shadow:0px 2px 10px 5px #0a4e41;
  color:#000;
}

.button-three:after {
   content: "";
   background: #f1c40f;
   display: block;
   position: absolute;
   padding-top: 300%;
   padding-left: 350%;
   margin-left: -20px !important;
   margin-top: -120%;
   opacity: 0;
   transition: all 0.8s
}

.button-three:active:after {
   padding: 0;
   margin: 0;
   opacity: 1;
   transition: 0s
}

.center {
   display: block;
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
}