.container {
    display: flex;
    max-height: 100vh;
}

.left {
    width: 30%;
    max-height: 100vh;
}

.overflow-wrapper {
    width: 300px;
    max-height: 100vh;
    
    overflow: auto;
}

.right {
    width: 70%;
    text-align: center
}

.overflow-wrapper > ul {
    width: 100%;
    background-color:white;
    border-top: 1px solid #1abc9c;
}

.overflow-wrapper:last-child {
    border-bottom: 1px solid #1abc9c;
}